{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anuj Punasiya</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anuj Punasiya. Currently Pursuing Master in
                    Computer Application.This project demonstrates the potential of deep learning techniques in 
                    revolutionizing agricultural practices by providing efficient and accurate solutions for plant disease
                    detection and management. Through the integration of advanced technology, farmers can enhance their
                    decision making processes and mitigate the impact of diseases on crop yields, ultimately contributing
                    to global food security and economic stability.
                    </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:anuj.punasiya99@gmail.com'><img
                        src="https://cdn.iconscout.com/icon/free/png-512/free-gmail-2981844-2476484.png?f=webp&w=256" height="40" width="40"></a> :
                anuj.punasiya99@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/anujpunasiya?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'><img
                        src="https://cdn-icons-png.flaticon.com/256/174/174857.png" height="40" width="40"></a> :
                Anuj Punasiya<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}